<!doctype html>
<html lang="en">
  <head>
    <title>Node - Crud</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!-- CSS -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

        body {
            font-family: 'Poppins', sans-serif;
        }
    </style>
  </head>
  <body>
    <div class="container py-4">
        <div class="text-center text-info">
            <h1>CRUD Operation with Node</h1>
            <i>This is app for learning node js using express and ejs as template engine.</i>
        </div>
        <div class="py-3">
            <h4>Add People</h4>
            <form action="/" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="Name" value="<%=people.name %>" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="location" placeholder="location" value="<%=people.location %>" required>
                </div>
                <% if(people.name) { %>
                    <button type="button" class="btn btn-warning" id="update" value="<%=people.id %>">Update</button>
                <% } else { %>
                    <button type="submit" class="btn btn-primary">Add new</button>
                <% } %>
            </form>
        </div>
        <div class="py-3">
            <h4>Peoples</h4>
            <% if(peoples == '') { %>
                <strong>No data found in database</strong>
            <% } else  { %> 
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Location</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody> 
                                <% peoples.forEach(people => { %>
                                    <tr>
                                        <td><%= people.name %></td>
                                        <td><%= people.location %></td>
                                        <td>
                                            <a href="/<%= people.id %>" class="btn btn-sm btn-outline-warning">Edit</a>
                                            <button class="btn btn-sm btn-outline-danger delete-people" value="<%= people.id %>">Delete</button>
                                        </td>
                                    </tr>
                                <% }) %>
                        </tbody>
                </table>
            <% } %>
        </div>
    </div>      
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Optional JavaScript -->
    <script>
        $(document).ready(() => {
            // Delete request
            $('.delete-people').on('click', e => {
                const id = e.currentTarget.value;
                fetch(`/${id}`, {
                    method: 'DELETE'
                })
                .then(res => res.json())
                .then(data => location.href = data.cb)
                .catch(err => console.log(err));
            });

            // Put request
            $('#update').on('click', e => {
                const id = e.currentTarget.value;
                body = JSON.stringify({
                    name: $('input[name="name"]').val(),
                    location: $('input[name="location"]').val()
                }); 

                fetch(`/${id}`, {
                    method: 'PUT', 
                    body: body,
                    headers: { 'Content-type': 'application/json' }
                })
                .then(res => res.json())
                .then(data => location.href = data.cb)
                .catch(err => console.log(err));
            });
        });
    </script>
  </body>
</html>